
<div class="container">
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_modal">Delete Post</button>

    <!-- Modal -->
    <div class="modal fade" id="delete_modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete?</h4>
                </div>
                <div class="modal-body">
                    <form onsubmit="delete_post()">
                        <div data-post_id="{{post.id}}" id="delete_post_id"></div>

                        <p class="text-center">Are you sure?</p>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger">Delete Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/submit_post.js"></script>