{{#each posts as |post|}}
<a href="/post/{{post.id}}">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{post.submit_date}}</h6>
            <p class="card-text">{{post.message}}</p>
        </div>
    </div>
</a>
{{/each}}