{{#each posts as |post|}}
<a href="/post/{{post.id}}">
    <section>
        <h1>{{post.title}}</h1>
        <h4>{{post.submit_date}}</h4>
        <p>{{post.message}}</p>
    </section>
</a>
{{/each}}