{{!-- Login Form --}}
<form onsubmit="loginUser()">
    <h1>Login</h1>
    <section class="login_card">
        <label for="email_login">Email:</label>
        <input type="text" id="email_login" />

        <label for="password_login">Password:</label>
        <input type="password" id="password_login" />

        <button type="submit">login</button>
    </section>
</form>

{{!-- Signup Form --}}
<form onsubmit="signUpUser()">
    <h1>Signup</h1>
    <section class="signup_card">
        <label for="username_signup">Username:</label>
        <input type="text" id="username_signup" />

        <label for="email_signup">Email:</label>
        <input type="text" id="email_signup" />

        <label for="password_signup">Password:</label>
        <input type="password" id="password_signup" />

        <button type="submit">sign up</button>
    </section>
</form>

<script src="./js/login.js"></script>